/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

/* Branding */

.wy-side-nav-search input[type="text"] {
    border-radius: 0px;
}

.wy-nav-side {
    background: #fff none repeat scroll 0 0;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.wy-menu-vertical a {
    color: #333;
}

body {
    font-family: "Lato",sans-serif !important;
}

div.video {
	width: 100%;
	text-align: center;
	margin: 40px 0;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: 'Titillium Web', sans-serif !important;
}

body {
    font-family: 'Titillium Web', sans-serif !important;
}

.wy-side-nav-search {
	background-color: #f0f0f0;
}

a {
	color: #4075a4;
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
	color: #4075a4;
}

.wy-side-nav-search > div.version {
	color: #000;
}
.wy-nav-top {
        background-color: #f0f0f0;
	    color: #407fa4;
}

.wy-nav-top a {
	    color: #407fa4;
	    font-weight: normal;
}

.wy-nav-top i {
	margin-top: 10px;
}
